html{background: #333}
header{padding: 20px;}
header img{width: 20%; float: left}
header h2{float: right; font-family: cursive; font-size: 18px; margin-top: 50px;}

.contents{border-radius: 10px; border: 1px solid #ddd; padding: 20px; min-height: 350px;overflow: hidden;}
.logincont{width: 800px; margin: 50px auto}
aside{width: 20%; float: left; min-height: 200px; margin-right: 20px;}
aside a{display: block; margin: 5px;}

#page{float: left; width: 858px;}
.contents h2{float: right; font-family: verdana; font-size: 16px; color: blue;}


footer{padding: 20px; text-align: center; margin-top: 50px;}
footer p{font-family: verdana; font-size: 16px;}
.clear{width: 100%; height: 0; clear: both}

.btn-danger{border-radius:5px; padding: 7px 15px; }
.btn-danger:hover{text-decoration: none}

.regiter{width:40%; float: left; min-height: 500px;}
.login{width:50%; float: right; margin-right: 50px;}
.regiter h1,.login h1{font-family: verdana; font-size: 20px;}

.regiter input[type="text"], .login input[type="text"],.regiter input[type="email"], .login input[type="email"],.regiter input[type="password"], .login input[type="password"]{display: block; width: 250px; border: 1px solid #ddd; margin: 10px; font-size: 15px;}

.mainSettingsForm{width:400px; float: left}
.mainSettingsForm label{float: left; width: 150px;}
.mainSettingsForm input{width: 250px; height: 30px; padding: 3px 5px; border:1px solid #999; border-radius: 5px; display: block; margin-bottom: 10px;}
.mainSettingsForm textArea{width: 250px; border-radius: 5px; border: 1px solid #999; margin-bottom: 10px; height: 90px;}
.mainSettingsForm input[type="submit"]{height: 40px; text-align: center; margin: 50px 150px}

.add h1 {font-family: cursive; font-size: 16px; border-bottom: 1px dashed #ddd; margin-bottom: 15px;}

.add input[type="submit"]{margin: 20px 150px}

.sectionTable th{color: #900; background: #ff9 !important;}
.sectionTable td img{max-width: 24px; margin: 3px;}

.newPage input[type="file"]{border: 0}
.newPage textArea{width: 850px; height: 250px;}